DISCORD_BOT_TOKEN=
DISCORD_STAFF_CHANNEL_ID=
INTERNAL_BOT_API_TOKEN=
BOT_PRODUCT_NAME="MineVida Discord Bot"
BOT_HOST=127.0.0.1
BOT_PORT=3001
DISCORD_RECONNECT_DELAY_MS=15000
DISCORD_EMBED_ICON_PATH=../public/images/MineVidaLogo.png
